@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  color: rgb(8, 35, 61);
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}

h1 {
  font-weight: 500;
  margin: 0px;
  padding: 10px;
  font-size: 2.5rem;
  background-color: rgb(10, 53, 95);
  color: #fff;
}

.question {
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label {
  display: block;
  margin-bottom: 10px;
}

button {
  font-size: 1.5rem;
  background-color: rgb(10, 53, 95);
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(10, 53, 95);
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}
